*~
*.bak
*.swp
*.tmp
.viminfo
.cache/
.bash_history
.bash_logout
.bashrc
.gitconfig
.profile
.sudo_as_admin_successful
web/config.inc.php.*
web/css/custom.css
web/config.inc.php

/.settings
/.project
/.buildpath
/.idea
/hg-code.iml
/nbproject
/.vs
